p.footing-p-header{
	margin-bottom: 15px !important;
    font-family: 'ubuntumedium', sans-serif;
    font-size: 10pt;
}


p.main-h2-title-type01{
	font: 22px/26px 'ubuntulight', Arial, Helvetica, sans-serif;
    float: left;
    margin: 0 10px 0 0;
	display: block;

}